- content_for :assets do
  = stylesheet_link_tag "notebook/main", media: :all

#month-plan.page-wrapper{ class: [direction] }
  = partial 'page_index', locals: { month: month }

  %header
    - if direction == :left
      .typo{ class: wday_style_name(month) }
        .m
          = month.strftime("%-m")
        .sub
          = month.strftime("%Y")
          %br
          = month.strftime("%^b")

  .content
    .grid
      = partial 'svg/section', locals: { section: 4, w: 120, h: 180 }
    - if direction == :left
      %section#planning
        %h2
          PLAN
        .box

    - else
      %section#record
        %h2
          RECORD
        .box
