- content_for :assets do
  = stylesheet_link_tag "notebook/main", media: :all

- target_wdays = direction == :left ? [1,2,3] : [0,4,5,6]
- days = ( week.beginning_of_week .. week.end_of_week ).to_a.select{ |d| target_wdays.include?(d.wday) }
- months = ( week.beginning_of_week .. week.end_of_week ).to_a.map{ |d| Date.new(d.year, d.month) }.uniq

#week-calendar-vertical.page-wrapper{ class: [direction] }
  = partial 'page_index', locals: { month: week }

  - if direction == :left
    %header
      .months{ class: months.size == 2 && 'double' }
        - months.each do |m|
          %span.month{ class: m.strftime("%^b").downcase }
            = m.strftime("%m")
      .week-info
        .year-no
          %span= week.year
          %span= week.cweek
          %span>< th
        .week-no
          %span><
            = (week.beginning_of_week.yday / 365.0 * 100).ceil
          %span %
      .inner
        .mini-calendars
          - months.each do |m|
            .mini-calendar
              = partial "svg/mini_calendar", locals: { current_week: week, month: m, w: 25, h: 28 }
  .content
    %table.week
      %thead
        -# DAY HEADER
        %tr
          - days.each do |d|
            %th.date{ class: wday_style_name(d) }
              .inner
                .typo
                  %span.day><
                    = d.strftime("%-d")
                  %span>< &nbsp;
                  %span.wd><
                    = d.strftime("%^a")
                - if d.national_holiday?
                  .holiday-name
                    = HolidayJapan.name(d)

        -# TODOS
        %tr
          - days.each do |d|
            %td.todos{ class: wday_style_name(d) }
              .inner
                %p.todo □
                %p.todo □
                %p.todo □
                %p.todo □
      %tbody
        -# SCHEDULES
        %tr
          - days.each do |d|
            %td.schedule{ class: wday_style_name(d) }
              .inner
                %dl
                  - (7..23).each do |t|
                    %dt
                      %time
                        - if t % 6 == 0
                          %span.line
                          = "%02d" % t
                        - else
                          ・
