- content_for :assets do
  = stylesheet_link_tag "notebook/main", media: :all

#year-index.page-wrapper{ class: [direction] }

  %header
    - if direction == :left
      .box
        .typo
          .nengo
            平成#{year.year - 1988}年
          .year
            = year.strftime('%Y')

  .content
    %table.months
      %thead
        %tr
          - months.each do |m|
            %th{ class: m.strftime("%b").downcase }
              .typo
                %span.m><
                  -# %span><= "&nbsp;" if m.month.to_s.length == 1
                  = m.strftime("%-m")
                %span.m-name
                  = m.strftime("%^b")
      %tbody
        - (0..30).each do |n|
          %tr
            - months.each do |m|
              - if day = m.change(day: n + 1) rescue nil
                %td{ class: [wday_style_name(day), m.strftime("%b").downcase] }
                  %span><= "&nbsp;" if day.day.to_s.length == 1
                  = day.strftime("%-d")
                  = ja_wdays[day.wday]
              - else
                %td
