- section ||= 4
- w ||= 130
- h ||= 210
- view_box = "0 0 #{w} #{h}"
%svg{ width: "#{w}mm", height: "#{h}mm", viewBox: view_box, preserveAspectRatio: 'xMinYMin'}
  %g{ "stroke" => '#DDD', "stroke-dasharray" => 0.7, "stroke-width" => 0.25 }
    - (h / section).to_i.times do |n|
      - y = section * (n + 1)
      %path{ d: "M0, #{y} L#{w}, #{y}" }
    - (w / section).to_i.times do |m|
      - x = section * (m + 1)
      %path{ d: "M#{x}, 0 L#{x}, #{h}" }
