- content_for :assets do
  = stylesheet_link_tag "html5/html5", media: 'all'

- date = Date.new(2014, 6)
.page-wrapper
  -# %header
  -#   = date.strftime("%Y %m")
  %table
    - from = date.beginning_of_month.beginning_of_week
    - to = date.end_of_month.end_of_week
    %tbody
      %tr
        %th{rowspan:7}
          = date.strftime("%Y %m")
        - (from.beginning_of_week .. from.end_of_week).each do |w|
          %th
            = w.strftime("%a").upcase
      - (from .. to).to_a.in_groups_of(7) do |group|
        %tr
          - group.each do |d|
            - if d.month == date.month
              %td.date.current{ class: d.strftime("%A").downcase }
                .box
                  = d.strftime("%d %a")
            - else
              %td.date
                .box
                  = d.strftime("%d %a")
